{% extends 'layout.html' %}


{% block contenido %}
  <div class="formregis">
    <h1 class="h4 text-gray-900 mb-4" id="text30" style="text-align: center;">Editar foto</h1>
    <form action="/update-fotos/{{foto.0}}" method="POST"> 
      <label for="IdServicio">Selecciona el Id del servicio</label>
      <select name="IdServicio" class="form-control form-group custom-select" id="selectdesp">
        {% for servicio in servicios %}
        <option value="{{ servicio.0 }}">
          {{ servicio.0 }}
          {% endfor %}
        </option>
      </select>
      <input type="text" name="FotoTipo" class="form-control form-control-user" placeholder="Tipo" value="{{ foto.5 }}">
      <input type="text" name="FotoDes" class="form-control form-control-user" placeholder="Descripción" value="{{ foto.2 }}">
      <input type="file" name="Imagen" class="form-control" id="archivo">
      <button type="submit" class="btn btn-success btn-block" id="boton-registro">Actualizar</button>
    </form>
  </div>
{% endblock contenido %}